.new-collections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height:60vh;
}

.new-collections h1{
    color: black;
    font-size: 50px;
    font-weight: 600;
}
.new-collections hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: gray;
}
.collections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 160px;
    margin-left: 0;
  margin-right: 140px;
}
.item-container{
    width:100%;
    max-width: 100px;
}

.item-container img{
    width: 70%;
    height: auto;
    display: flex;
  
   
}
@media (max-width: 768px) {
    .new-collections h1 {
      font-size: 24px; /* Adjust font size for smaller screens */
    }
  
    .collections{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap:60px;
        margin-left: 50px;
        margin-right: 50px;
        
    }
  }
