.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px;
    margin-top: 700px;
    background: rgb(200, 198, 198);
}
.footer-logo{
    display:flex;
    align-items: center;
    gap:20px;
}
.footer-logo p{
    color: gray;
    font-size: 46px;
    font-weight: 700;

}
.footer-links{
    display: flex;
    list-style: none;
    gap:50px;
    color: black;
    font-size: 20px;
}
.footer-links li{
    cursor: pointer;

}

.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
    width:100%;
    margin-bottom: 30px;
    color: black;
    font-size: 20px;
}
.footer-copyright hr{
    width:80%;
    border:none;
    border-radius: 10px;
    height:3px;
    background: gray;

}
@media (max-width: 768px) {
    .footer-logo p {
      font-size: 20px; /* Adjust font size for smaller screens */
    }
  
    .footer-links {
      flex-wrap: wrap; /* Allow links to wrap to the next line on smaller screens */
      justify-content: center; /* Center links horizontally on smaller screens */
      gap: 10px; /* Adjust gap between links for smaller screens */
      font-size: 14px; /* Adjust font size for smaller screens */
    }
  
    .footer-links li {
      margin: 5px; /* Adjust margin for smaller screens */
    }
  
    .footer-copyright {
      gap: 10px; /* Adjust gap between elements for smaller screens */
      font-size: 14px; /* Adjust font size for smaller screens */
    }
  }
